* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.material-icons
{
    font-size: 20px;
    
}
.notification
{
 color: #b2daff;
    
}
span
{
     font-family: 'Noto Sans KR';
     color: #a2a2a2;
    font-size: 13px;
         
}
.bodymain {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
  
 
}
.widgets {
  position: sticky;
  top: 80px;
  flex: 0.2;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 0px;
  width: 250px;
}

.widgets__header {
  display: flex;
  align-items: center;
  background-color: #5f98af;
  padding: 50px;
  font-family: 'Noto Sans KR';font-size: 40px;
  justify-content: space-between;
}



.widgets__header > h2 {
   color: white;
  font-size: 40px;
  font-weight: 1000;
}

.widgets__article {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
    
}
.widgets__article:nth-child(2)
{
    padding-top:10px;
     
}

.widgets__article:hover {
  background-color: whitesmoke;
}

.widgets__articleLeft {
  color: #0000FF ;
  margin-right: 5px;
}

.widgets__articleLeft .material-icons {
  font-size: 13px;
  margin-bottom: 0px; 
padding-bottom:0px;  
}

.widgets__articleRight {
  flex: 1;
}

.widgets__articleRight > h4 {
  font-size: 14px;
}

.widgets__articleRight > p {
  font-size: 12px;
  color: black;
}
.vline {
  display: flex;  
  border-left: 2px solid #ebebeb;
  padding-top:0px;     
  padding-bottom: 20px;    
  height: 30px;
  left: 20%;
  margin-left: 6px;
  top: 0;
}* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.material-icons
{
    font-size: 20px;
    
}
.notification
{
 color: #FFFFFF;
    
}
span
{
     font-family: 'Noto Sans KR';
     color: #a2a2a2;
    font-size: 13px;
         
}
.bodymain {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
  
 
}
.widgets {
  position: sticky;
  top: 80px;
  flex: 0.2;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 0px;
  width: 250px;
}

.widgets__header {
  display: flex;
  align-items: center;
  background-color:#0000FF;
  padding: 10px;
  font-family: 'Noto Sans KR';font-size: 22px;
  justify-content: space-between;
}



.widgets__header > h2 {
   color: white;
  font-size: 16px;
  font-weight: 1000;
}

.widgets__article {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
    
}
.widgets__article:nth-child(2)
{
    padding-top:10px;
     
}

.widgets__article:hover {
  background-color: whitesmoke;
}

.widgets__articleLeft {
  color: #0177b7;
  margin-right: 5px;
}

.widgets__articleLeft .material-icons {
  font-size: 13px;
  margin-bottom: 0px; 
padding-bottom:0px;  
}

.widgets__articleRight {
  flex: 1;
}

.widgets__articleRight > h4 {
  font-size: 14px;
}

.widgets__articleRight > p {
  font-size: 12px;
  color: gray;
}
.vline {
  display: flex;  
  border-left: 2px solid #ebebeb;
  padding-top:0px;     
  padding-bottom: 20px;    
  height: 30px;
  left: 20%;
  margin-left: 6px;
  top: 0;
}